<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">{{{body}}}</div>
  <script type="text/javascript">STATE={{{state}}}</script>
  <script type="text/javascript">APOLLO_STATE={{{apolloState}}}</script>
  <script src="react.js"></script>
  <script src="react-dom.js"></script>
  <script src="bundle-client.js"></script>
</body>
</html>