$gap: 10px;
$gap2: 10px;
$colorMain: #a85826;

html,
body {
  padding: 0;
  margin: 0;
}

.c-header {
  &__body {
    width: 100%;
    text-align: center;
    padding: $gap2;
    box-sizing: border-box;
  }
}

h1 {
  margin: 0;
  padding: 0;
  color: $colorMain;
}
